# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/
.next/
tsconfig.tsbuildinfo

# Temp storage for clips and uploads
temp/
downloads/
video_urls.txt
failed_downloads.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment and logs
.env
.env.*
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Cookies & Credentials
cookies.txt
*.cookies.txt
.cookies
.cookies.*
*.cookies

.vercel
